.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  font-size: 24px;
  display: flex;
  padding: 0px 20px;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
  background-color: #f0f0f0;
}
.res-card:hover {
  box-shadow: 5px 5px 10px grey;
  cursor: pointer;
}
.res-logo {
  width: 100%;
}
.search {
  padding: 10px;
}
.filter {
  padding: 10px;
  display: flex;
}
.filter-btn {
  margin: 10px;
}
.res-conntainer,
.shimmer-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.shimmer-card {
  width: 200px;
  height: 350px;
  padding: 5px;
  margin: 5px;
  background-color: #f0f0f0;
}
.shimmer-name {
  width: 190px;
  height: 20px;
  background-color: #e0e0e0;
  margin: 10px 0px;
}
.shimmer-cuisine {
  width: 150px;
  height: 15px;
  background-color: #e0e0e0;
  margin: 20px 0px;
}
.login-btn {
  cursor: pointer;
  margin: 10px 10px;
  width: 80px;
  height: 40px;
  background-color: #ec770a;
  color: white;
}
.res-link {
  text-decoration: none;
}
.user-card{
  padding:10px;
  border: 1px solid black;
}
