.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  font-size: 24px;
  display: flex;
  padding: 0px 20px;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
  background-color: #f0f0f0;
}
.res-card:hover {
  box-shadow: 5px 5px 10px grey;
  cursor: pointer;
}
.res-logo {
  width: 100%;
}
.search {
  padding: 10px;
}
.filter-btn{
  margin: 10px;
}
.res-conntainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
